body, html {
    margin: 0;
    padding: 0;
}
a {
    transition: 0.2s;
}
a:active, a:focus { outline: none; }
.wrapper>* {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
@font-face { 
    font-family: "Gotham Pro";
    src: url("../fonts/fonts/gothampro-black.woff") format("woff"),
         url("../fonts/fonts/gothampro-black.woff2") format("woff2"); /* все современные браузеры */
}
@font-face { 
    font-family: "Cormorant Garamond";
    src: url("../fonts/fonts/CormorantGaramond-SemiBold.woff") format("woff"),
         url("../fonts/fonts/CormorantGaramond-SemiBold.woff2") format("woff2"); /* все современные браузеры */
}
p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    color: #68778c;
}

.btn-green {
    border: none;
    color: #fff;
    background: -webkit-linear-gradient(76deg, #00d08f 0%, #00d9b3 100%);
    background: -moz-linear-gradient(76deg, #00d08f 0%, #00d9b3 100%);
    background: linear-gradient(76deg, #00d08f 0%, #00d9b3 100%);
    min-width: 260px;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.2s;
    box-shadow: -0.908px 1.782px 13.5px rgba(0,210,149,0.3);
}
.btn-green:hover,
.btn-red:hover {
    position: relative;
    top: -3px;
    left: -3px;
    color: #fff;
}
.btn-red {
    display: inline-block;
    border: none;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham Pro";
    text-align: center;
    min-width: 370px;
    text-decoration: none;
    padding: 20px;
    background-image: linear-gradient(76deg, #ff657f 0%, #e5435f 100%);
    transition: 0.2s;
    position: relative;
    top: 0px;
    left: 0px;
}
@media (max-device-width: 830px) {
    .btn-red,
    .btn-green {
        min-width: 100px;
    }
}
h4 {
    max-width: 800px;
    margin: 0 auto 0;
    font-size: 32px;
    letter-spacing: 0px;
    color: #142a3b;
    font-weight: bold;
    font-family: "Gotham Pro";
    text-align: center;
}
h4 span {
    color:#e5435f;
}
h5 {
    font-size: 20px;
    color: #0b2b44;
    font-weight: bold;
    font-family: "Gotham Pro";
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 2050px;
    margin: 0 auto 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto 0;
}

/*HEADER*/
.header {
}
.header__logo {
    display: block;
    margin-right: 80px;
    position: relative;
}
.header__logo::before {
    content: '';
    background: #e64460;
    position: absolute;
    border-right: 15px solid #fff;    
    border-left: 15px solid #fff;
    left: -15px;
    right: -15px;
    top: -29px;
    height: 9px;
    z-index: 2;
}
.header__logo {
    display: block;
    margin-right: 80px;
    position: relative;
}
.header__logo::after {
    content: '';
    background: #e7ecf0;
    position: absolute;
    border-right: 15px solid #fff;    
    border-left: 15px solid #fff;
    left: -500px;
    min-width: 2500px;
    z-index: 1;
    top: -29px;
    height: 9px;
}
.header__body {
    display: flex;
    align-items: center;
    padding: 30px ;
    justify-content: space-between;
}

.header__text {
    max-width: 190px;
    margin-right: auto;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #142a3b;
}
.header__tel {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.header__tel a {
    font-size: 18px;
letter-spacing: 0px;
color: #142a3b;
text-decoration: none;
font-weight: bold;
padding: 0;
margin: 0;
font-family: "Gotham Pro";
display: flex;
justify-content: space-between;
}
.header__callback {
    margin-right: 30px;
}
.header__tel p:nth-child(2) {
    font-size: 14px;
letter-spacing: 0px;
padding: 0;
margin: 0;
color: #c2c2c2;
font-family: "Gotham Pro";
}
a:hover {
    color: #0006
}


/*MENU*/
.menu {
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #333d72;
}
.menu li {
    list-style-type:none; 
}
.menu__link {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham Pro";
    text-align: center;
    display: inline-block;
    transition: 0.4s;
    padding: 13px 20px;
}
.menu__link:hover {
    background-color: #4d568c;
    color: #ffffff;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0;
}
@media (max-device-width: 790px) {
    .header:nth-child(1) .header__tel {display: none}
     .header__callback {display: none;}
    .header:nth-child(1) .header__bar {
        transition: 0.5s;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header:nth-child(1) .header__bar span {
        transition: 0.5s;
        height: 3px;
        width: 100%;
        background: #333d72;
    }
    .slider {
        background: url('../img/sliderBG.jpg') top center/ cover   no-repeat;
        margin-top: 90px;
    }
    .active-bar span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 25%;
    }
    .active-bar span:nth-child(2) {
        opacity: 0;
    }
    .active-bar span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        bottom: 25%;
    }
    .menu {
        transition: 0.5s;
        position:fixed;
        top: -100%;
        z-index: 500;
    }
    .menu-active {
        top: 90px;
    }
    .menu__list {
        flex-direction: column;
    }
    .header:nth-child(1) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        background: #fff;
    }
}

/*SLIDER*/
.slider {
    background: url('../img/sliderBG.jpg') top center/ cover   no-repeat;
}
.slider__body {
    padding: 130px 0;
    text-align: center;
}
.slider h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-family: "Cormorant Garamond";
    text-align: center;
    
}
.slider h2:after {
    content: url('../img/logo2.svg');
    position: absolute;
    bottom: -70%;
    left: 20%;
    right: 20%;
    opacity: 0.1;
}
.slider h2 {
    position: relative;
    max-width: 1098px;
    padding: 0;
    margin: 0;
    font-size: 46px;
    margin-bottom:100px;
    color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Gotham Pro";
    text-align: center;
}
@media (max-device-width: 830px) {
    .slider h2 {
        
        font-size: 30px;
        
    }
    .slider h1 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #ffffff;
        font-weight: 700;
        padding: 0;
        margin: 0;
        font-family: "Cormorant Garamond";
        text-align: center;
    }
}
.slider__advantages {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

}
.slider__advantage {
    flex: 1 1 25%;
    background: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 47px;
    display: flex;
    align-items: center;
    
}
@media (max-device-width: 1195px) {
    .slider__advantages {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider__advantage {
        background: #fff;
        border-radius: 5px;
        margin: 10px;
        flex: 0 0 35%;
        padding: 10px 10px;
    }
}
@media (max-device-width: 1030px) {
    .slider__body {
        padding: 70px 0;
    }
    .slider h2 {
        margin-bottom: 50px;
    }
    .header__logo::before {
        content: '';
        background: #e64460;
        position: absolute;
        border-right: 15px solid #fff;    
        border-left: 15px solid #fff;
        left: -15px;
        right: -15px;
        top: -19px;
        height: 9px;
    }
    .header__body {
        display: flex;
        align-items: center;
        padding: 10px ;
        justify-content: space-between;
        max-height: 125px;
    }
    .header__text {
        display: none;
    }
    .slider__advantages {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider__advantage {
        background: #fff;
        border-radius: 5px;
        margin: 10px;
        flex: 0 0 50%;
        padding: 10px 10px;
    }
    
}
.slider__img {
    margin-right: 20px;
}
.slider__advantage h3 {
    font-size: 26px;
    margin-bottom: 20px;
    margin: 0;
    color: #333d72;
    font-weight: bold;
    font-family: "Gotham Pro";
}
.slider__advantage p {
    font-size: 14px;
    color: #68778c;
}



/*SERVICES*/
.services {
    width: 100%;
    background-color: #f3f4f8;
}
.services__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.services__row {
    padding: 45px 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.services .btn-green {
    display: block;
    min-width: 0px;
    text-decoration: none;
}
.services__item {
    display: none;
    background: #fff;
    padding: 15px;
    margin: 15px;
}
.services__link {
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    transition: 0.4s;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}
.services__text h5 {
    min-height: 50px;
    display: flex;
    align-items: center;
}
.services__link:hover {
    opacity: 1;
    color: #000;
}
.services p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #545454;
}
.services__condition {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
}
.services__condition li {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    font-size: 12px;
    color: #817f7f;
}

.services__item:nth-child(1),
.services__item:nth-child(2),
.services__item:nth-child(3),
.services__item:nth-child(4),
.services__item:nth-child(5),
.services__item:nth-child(6) {
    display: block;
}
.sevices__img> img {
    display: block;
    width: 100%;
}
.services__more {
    padding: 30px;
    border:none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #142a3b;
    font-weight: 500;
    opacity: 0.7;
    transition: 0.4s;
    font-family: "Gotham Pro";
}
.services__more:hover {
    opacity: 1;
    color: #142a3b;
}
.services__more img {
    margin-right: 24px;
}
@media (max-device-width: 1030px) {
    .services__item {
        padding: 10px;
        margin: 20px;
        width: 300px;
    }
    .services__row {
        justify-content: space-evenly;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    
    .services p {
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #545454;
        font-family: "Gotham Pro";
    }
}
@media (max-device-width: 830px) {
    .services__row {
        justify-content: center;
        grid-template-columns: 70%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
}
@media (max-device-width: 600px) {
    .services__row {
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-device-width: 430px) {
    .services__row {
        display: block;
    }
}


/*trust*/
.trust__body {
    padding: 120px 0;
}
.trust__row {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr;
}
.trust__elem {
    padding: 30px;
    display: flex;
    align-items: flex-start;
}

.trust__elem img {
    margin-right: 15px;
}
.trust__flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.trust__item {
    flex: 0 0 20%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trust__item p  {
    max-width: 200px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    padding: 0;
    margin: 0;
    font-family: "Gotham Pro";
    text-align: center;
}
.trust h5 {
    font-size: 18px;
}

.trust__item:nth-child(1) {
    background: url('../img/trustBg1.svg') center/ cover no-repeat;
}
.trust__item:nth-child(2) {
    background: url('../img/trustBg2.svg') center/ cover no-repeat;
}
.trust__item:nth-child(3) {
    background: url('../img/trustBg3.svg') center/ cover no-repeat;
}
.trust__item:nth-child(4) {
    background: url('../img/trustBg4.svg') center/ cover no-repeat;
}
@media (max-device-width: 900px) {
   .trust__row {
       grid-template-columns: 40% 40%;
       justify-content: space-evenly;
   }
}
@media (max-device-width: 1030px) {
    .trust__item p {
        font-size: 24px;
    }
    .trust__item {
        flex: 0 0 40%;
        margin-bottom: 20px;
    }
}
@media (max-device-width: 650px) {
    .trust__row {
        display: block;
    }
}
@media (max-device-width: 430px) {
    .trust__flex {
        display: block;
    }
}

/*REWIEVS*/
.rewievs {
    background: url('../img/rewievBG.jpg') 0 0/100% auto no-repeat;
}
.rewievs h4 {
    color: #fff;
    padding: 100px 0;
}
.mySwiper {
    overflow: visible;
    overflow-x: hidden;
}
.rewievs__swiper-slide {
    display: inline-block;
    text-align: center;
    padding-top: 40px;
}
.swiper-slide-active img {
    position: relative;
    top: -40px;
    transition: 0.2s;
}
.rewievs__swiper-pagination * {
    background-color: #606060;
}
@media (max-device-width: 1030px) {
    .rewievs__swiper-slide img {
        width: 80%;
    }
    .rewievs__swiper-slide {text-align: center;}
    .rewievs h4 {
        padding: 50px 0;
    }
}

/*SCHEMA*/
.schema {
    background:#f3f4f8 url('../img/schemaBG.jpg') 0 0/100% auto no-repeat;
}
.schema h4 {
    padding: 70px 0 ;
}
.schema__row {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    padding-left: 70px;
}
.schema__item {
    padding: 10px 55px 10px 55px;
    position: relative;
}

.schema__num {
    position: absolute;
    top: -40px;
    left: -40px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    background: #fff;
    color: #d8d8d8;
    font-weight: 800;
    font-family: "Gotham Pro";
    text-align: center;
    border: 7px solid #d8d8d8;
}

.schema__item:nth-child(1) {
    border-top: 1px solid #d8d8d8;
}
.schema__item:nth-child(1) .schema__num {
    color: #ff3a2f;
    border-color: #ff3a2f;
}
.schema__item:nth-child(2) {
    border-top: 1px solid #d8d8d8;
}
.schema__item:nth-child(3) {
    border-left: 1px solid #d8d8d8;
}

.schema__item:nth-child(4) {
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}
.schema__item:nth-child(5) {
    border-top: 1px solid #d8d8d8;
}
.schema__item:nth-child(6) {
    
}

.schema__item:nth-child(7) {border-top: 1px solid #d8d8d8;}
.schema__item:nth-child(8) {border-top: 1px solid #d8d8d8;}
.schema__item:nth-child(9) h5 {text-transform: uppercase;}
.schema__item:nth-child(9) p {font-weight: bold;}
.schema__item:nth-child(9) .schema__num {
    color: #00dab3;
    border-color: #00dab3;
}
@media (max-device-width: 1030px) {
    .schema__row {
        padding-left: 40px;
    }
}
@media (max-device-width: 780px) {
    .schema__row {
        grid-template-columns: 40% 40%;
        justify-content: center;
    }
    .schema__item:nth-child(1) {
        border-top: 1px solid #d8d8d8;
    }
    .schema__item:nth-child(1) .schema__num {
        color: #ff3a2f;
        border-color: #ff3a2f;
    }
    .schema__item:nth-child(2) {
        border:none;
        border-left: 1px solid #d8d8d8;
    }
    .schema__item:nth-child(3) {
        border-left: 1px solid #d8d8d8;
        border-top: 1px solid #d8d8d8;
    }
    
    .schema__item:nth-child(4) {
       border:none
    }
    .schema__item:nth-child(5) {
        border-top: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
    }
    .schema__item:nth-child(6) {
        
    }
    
    .schema__item:nth-child(7) {border-top: 1px solid #d8d8d8;border-left: 1px solid #d8d8d8;}
    .schema__item:nth-child(8) {border-top: none}
    
    .schema__item:nth-child(9) h5 {text-transform: uppercase;}
    .schema__item:nth-child(9) p {font-weight: bold;}
    .schema__item:nth-child(9) .schema__num {

        color: #00dab3;
        border-color: #00dab3;
    }
}
@media (max-device-width: 500px) {
    .schema__row {
        
        grid-template-columns: 80%;
        justify-content: left;
    }
    .schema__item:nth-child(1) .schema__num {
        color: #ff3a2f;
        border-color: #ff3a2f;
    }
    .schema__item:nth-child(1) ,    
    .schema__item:nth-child(2),
    .schema__item:nth-child(3),
    .schema__item:nth-child(4),
    .schema__item:nth-child(5),
    .schema__item:nth-child(6),
    .schema__item:nth-child(7),
    .schema__item:nth-child(8) {
        border: none;
        border-left: 1px solid #d8d8d8;
    }
    
    .schema__item:nth-child(9) h5 {text-transform: uppercase;}
    .schema__item:nth-child(9) p {font-weight: bold;}
    .schema__item:nth-child(9) .schema__num {

        color: #00dab3;
        border-color: #00dab3;
    }
}


/*FORM*/
.form h4 {
    color: #fff;
    padding: 75px;
}
.form {
    background: url('../img/formBG.jpg') no-repeat;
}
.form label p,
.form__select > p {
    color: #fff;
}
select {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: 56px;
}
option:nth-child(1) {
    color: #0005
}
.form__container {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
}
.form__select {
    overflow: hidden;
}
input {
    border-radius: 5px;
    width: 100%;
    height: 35px;
    padding: 10px;
}
input:focus {
    
}
.form__body {
    padding-bottom: 100px;
}
.form__select-flex {
    display: flex;
    justify-content: space-between;
}
.form__select-flex .form__select {
    overflow: visible;
    flex: 0 0 35%;
    margin: 0;
}

.form__file div div {
    background: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__file div div:after {

}
.form__file div img {
    width: 20px;
    height: 28px;
}
.form__file {position: relative;}
.form__file input {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form button {
    margin-top: 105px;
}
@media (max-device-width: 1030px) {
    .form h4 {
        padding: 30px 0;
    }
    .answer__row .btn-red {
        margin: 30px 0;
    }
}
@media (max-device-width: 500px) {
    .form button {
        margin-top: 50px;
    }
    .form__container {
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-evenly;
    }
}
/*ANSWER*/
.answer {
    background: url('../img/Rectangle_.jpg')  repeat;
}
.answer__body {
    padding: 50px;
}
.answer h4 {
    padding: 75px;
}
.answer__row {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.answer__item button {
    position: absolute;
    right: 50px;
    top: 30px;
    height: 30px;
    border: none;
    background: none;
    width: 30px;
    bottom: 30px;
    cursor: pointer;
}
.answer__item {
    position: relative;
    border-radius: 4px;
    box-shadow: -0.521px -2.954px 31px #d8d8f8;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 10px;
}
.answer__text {
    max-height: 0;
    height: auto;
    transition: 0.5s linear;
    overflow: hidden;
    padding: 0px;
    margin: 0;
}
.active {
    max-height: 1000px;
    padding: 20px 0px;
}
.active-btn {
    transform: rotate(180deg);
}
.answer__row .btn-red {
    display: inline-block;
    margin: 90px 0;
}
.text__body {
    padding: 20px;
}
@media (max-device-width: 500px) {
    .answer h4 {
        padding: 20px;
    }
}

.more {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../svg/more.svg') center/ 100% auto no-repeat;
}
.extren {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../svg/fast.svg') center/ 100% auto no-repeat;
}
.boock {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('../img/servicesCondition0.svg') center/ 100% auto no-repeat;
}

.calend {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('../img/servicesCondition1.svg') center/ 100% auto no-repeat;
}

.phone {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/PhoneIcon.svg') center/ 100% auto no-repeat;
}
.parperclip {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/paperclip.svg') center/ 100% auto no-repeat;
    z-index: 20;
}

.form span {
    display: block;
    font-size: 14px;
    color: #fff;
    font-family: "Gotham Pro";
    padding: 12px 0;
}